    <aside class="menu">

      <a href="http://afronski.pl">
        <img id="avatar" src="/images/avatar.png" alt="My avatar" />
      </a>

      Hello! I'm <a href="/about.html">Wojciech Gawroński</a>.<br/>
      I work as a <a href="http://pl.linkedin.com/pub/wojtek-gawroński/58/879/5b0/">software developer</a>.<br/>
      Besides working
      <ul class="interests">
        <li>I write <a href="https://github.com/afronski">code</a></li>
        <li>I <a href="https://twitter.com/afronski">tweet</a></li>
        <li>I give <a href="https://github.com/afronski/presentations">talks</a></li>
        <li>I <a href="/feed.xml">blog</a></li>
        <li>I <a href="https://www.goodreads.com/user/show/16145105-wojtek-gawro-ski">read books</a></li>
        <li>I <a href="http://www.last.fm/user/afronski">listen music</a></li>
      </ul>

      <footer>
        <section>Wojciech "afronski" Gawroński (2013, 2014)</section>
        <section>
          Whole content licensed on <a href="http://creativecommons.org/licenses/by-nc-nd/3.0/pl/legalcode">CC BY-NC-ND 3.0</a>.
        </section>
      </footer>
    </aside>