@import url(http://fonts.googleapis.com/css?family=News+Cycle&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Sniglet&subset=latin,latin-ext);

/* Common styles. */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: 'News Cycle', sans-serif;
}

body {
  margin: 0;
  padding: 0;

  color: #1C140D;
  background-color: #F2E9E1;
}

a, a:link {
  color: #2F615E;
  text-decoration: none;
}

a:active {
  color: #2F615E;
}

a:visited {
  color: #2F615E;
}

a:hover {
  color: #2F615E;
  text-decoration: underline;
}

.about-link {
  display: block;
  margin: 5px 0 15px 0;
}

.mobile-link {
  display: none;
}

#disqus_thread {
  margin: 10px 0;
  padding: 15px;

  border-radius: 5px;
  border: 2px dashed #2F615E;
}

.right {
  float: right;
}

.post img.ruby-logo {
  width: 200px;
  height: 200px;
  padding: 15px;
}

.post img.io-logo {
  width: 128px;
  height: 128px;
  padding: 35px;
}

.post img.prolog-logo {
  width: 180px;
  padding: 5px;
}

.post img.scala-logo {
  width: 180px;
  padding: 5px;
}

.post img.sicp-logo {
  width: 180px;
  margin: 25px;
  padding: 5px;
}

.post img.rabbitmq-logo {
  width: 180px;
  padding: 5px;
}

/* Main page. */

.posts-list {
  margin: 20px 0;
  padding: 0;

  list-style: none;
}

.posts-list li time {
  display: inline-block;

  width: 90px;
  margin-right: 15px;

  color: #888888;

  text-align: right;
}

/* Content style. */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Sniglet', sans-serif;
  font-weight: normal;
}

.post img {
  width: 100%;
  max-width: 770px;
}

.post img.emoji {
  border: 0;

  width: 20px;
  height: 20px;

  vertical-align: middle;
}

.post img.half-sized-image {
  width: 50%;
  margin: 0 auto;
}

.post .picture-section {
  text-align: center;
}

.post .picture-section img {
  display: block;
}

.post em {
  font-style: normal;
  color: #482C21;
}

.post .disclaimer {
  display: block;
  text-align: justify;
  font-style: italic;
  color: #888888;
}

.post .foreign {
  color: #2F615E;
  font-style: italic;
  text-align: justify;
  display: block;
}

.post .center {
  text-align: center;
}

.post img.book {
  width: 300px;
  display: block;
  margin: 10px auto;
}

.container {
  padding: 0 15px;
  margin: 40px 0 0 20em;

  max-width: 800px;
}

.post .center-tweet iframe {
  margin: 0 auto !important;
}

.post .citation {
  font-style: italic;
  color: #707070;
}

.highlight {
  border-radius: 5px;
  font-family: monospace;
}

.highlight pre {
  padding: 15px;

  border-radius: 5px;
  box-shadow: 0 0 5px 0px #4D4D4D;

  white-space: pre-wrap;
}

.highlight .lineno {
  padding-right: 10px;
}

/* Social Buttons */

.social-buttons {
  margin-top: 35px;
  text-align: center;
  vertical-align: middle;
}

.social-buttons .fb-share-button {
  padding-left: 30px;
  top: -4px;
}

@-moz-document url-prefix() {
  .social-buttons .IN-widget {
    bottom: -5px;
    position: relative;
  }
}

/* About page. */

.description {
  width: 70%;

  margin-right: 50px;
  display: inline-block;

  text-align: justify;
}

.description ul {
  text-align: left;
}

.description em {
  font-style: normal;
  color: #482C21;
}

.about img {
  display: inline-block;

  width: 120px;
  height: 120px;

  border: 2px solid #482C21;
}

/* Aside menu. */

#avatar {
  display: block;
  width: 80px;
  border-radius: 50%;
  margin: 0 10px 40px 0;
  box-shadow: 0 0 0 2px #4D4D4D;

  -webkit-transition: box-shadow 0.2s linear;
  -moz-transition: box-shadow 0.2s linear;
  -ms-transition: box-shadow 0.2s linear;
  -o-transition: box-shadow 0.2s linear;
  transition: box-shadow 0.2s linear;
}

#avatar:hover {
  box-shadow: 0 0 0 2px #F2E9E1;
}

.menu {
  top: 0;
  left: 0;

  padding: 52px;

  width: 18.7em;
  height: 100%;

  border-right: 5px solid #482C21;
  background-color: #CBE86B;

  position: fixed;
}

.menu .interests {
  padding: 0 0 0 5px;
  margin: 0;

  list-style: none;
}

/* Footer */

footer {
  bottom: 10px;
  left: 1.5em;
  position: fixed;

  color: #888888;
  font-size: 0.8em;
  text-align: center;
}

/* Bigger view. */

@media screen and (min-width: 90em) {
  .container {
    margin: 0 auto;
  }
}

/* Smaller view. */

@media screen and (max-width: 50em) {
  .about img {
    display: none;
  }

  .description {
    width: 92%;
  }

  .post ol {
    list-style: none;
    padding: 0;
  }

  .mobile-link {
    display: block;
    margin-bottom: 10px
  }

  .menu {
    top: 0;
    left: 0;

    padding: 14px;
    border: 0;
    border-top: 5px solid #482C21;
    font-size: 110%;

    width: 100%;
    height: auto;

    position: static;
  }

  .container {
    min-width: auto;
    margin: 0;
  }

  footer {
    position: static;
    margin-top: 25px;
  }

  .highlight pre {
    font-size: 0.75em;
  }

  .highlight .lineno {
    display: none;
  }

  .posts-list li time {
    margin: 0;
  }
}
