@font-face {
  font-family: "Calligraffitti";
  font-style: normal;
  font-weight: 400;
  src: local("Calligraffitti"),
       local("Calligraffitti-Regular"),
       url("/fonts/Calligraffitti/Calligraffitti.woff") format("woff");
}

@font-face {
  font-family: "Coming Soon";
  font-style: normal;
  font-weight: 400;
  src: local("Coming Soon"),
       local("ComingSoon"),
       url("/fonts/ComingSoon/ComingSoon.woff") format("woff");
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-image: url("/images/crafted-paper.png");

  font-family: "Coming Soon";
  font-size: 62.5%;

  color: black;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: "Calligraffitti";
}

h1 {
  font-size: 3em;
}

p, nav {
  font-size: 2.2em;
}

aside {
  padding: 20px;
}

nav ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

article {
  min-width: 300px;
  max-width: 960px;

  margin: 0 auto;
  padding: 20px;
}

.container {
  min-width: 300px;
  max-width: 960px;

  width: auto;
  margin: 10px auto;
}

.comments {
  margin-bottom: 0px;
}

.terminal {
  padding: 5px;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  font-family: monospace;
  font-size: 1.2em;

  color: white;
  background-color: #111111;

  -moz-box-shadow: inset 0 0 8px black, 0 0 15px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 0 8px black, 0 0 15px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 8px black, 0 0 15px rgba(0, 0, 0, 0.2);

  border: 5px solid black;
}

.terminal a {
  color: white;
}

.terminal a:hover {
  text-decoration: none;
}

.terminal a:active {
  color: #EEEEEE;
}

.terminal a:visited {
  color: #EEEEEE;
}

.terminal-lines li:before {
  content: "[user@blog ~ ]# ";
  color: white;
}

.active-position:after {
  -webkit-animation: caret 1s infinite;
  -moz-animation: caret 1s infinite;
  -ms-animation: caret 1s infinite;
  animation: caret 1s infinite;

  content: "|";
}

@-webkit-keyframes caret {
  0% {
    color: white;
  }

  50% {
    color: transparent;
  }

  100% {
    color: white;
  }
}

@-moz-keyframes caret {
  0% {
    color: white;
  }

  50% {
    color: transparent;
  }

  100% {
    color: white;
  }
}

@-ms-keyframes caret {
  0% {
    color: white;
  }

  50% {
    color: transparent;
  }

  100% {
    color: white;
  }
}

.highlight {
  padding: 10px 5px;

  font-size: 2em;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  background-image: url("/images/second-lined-paper.png");

  border: 2px dashed #AAAAAA;
}

.highlight pre {
  margin: 0;
}

.paper-sheet {
  background-image: url("/images/second-lined-paper.png");

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.lined-paper-sheet {
  background-image: url("/images/lined-paper.png");

  border-radius: 3px;

  -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

footer {
  text-align: center;

  width: 250px;
  margin: 15px auto 0;

  font-size: 1.2em;
  color: #555555;
}

footer .rss {
  font-size: 2.2em;
}

footer a {
  color: #888888;
}

footer a:hover {
  text-decoration: none;
}

footer a:active {
  color: #888888;
}

footer a:visited {
  color: #333333;
}

@media screen and (max-width: 480px) {
  .terminal-lines li:before {
    content: "";
  }

  .highlight {
    font-size: 1.2em;
  }
}