<!DOCTYPE html>
<html>
  <head>
{% include meta.html %}

    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="/stylesheets/syntax.min.css" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <article class="container post">
      <a href="/">Home</a>

{{ content | emojify }}
    </article>

    <section class="container">
      <a href="/" class="mobile-link">Home</a>
      <div id="disqus_thread"></div>
    </section>

{% include menu.html %}
{% include google-analytics.html %}
    <noscript>
      Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
    </noscript>

    <script type="text/javascript">var disqus_shortname="afronskipl";(function(){var dsq=document.createElement("script");dsq.type="text/javascript";dsq.async=true;dsq.src="//"+disqus_shortname+".disqus.com/embed.js";(document.getElementsByTagName("head")[0]||document.getElementsByTagName("body")[0]).appendChild(dsq);})();</script>
  </body>
</html>