<!DOCTYPE html>
<html>
  <head>
{% include meta.html %}
{% include feed.html %}
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="/stylesheets/syntax.min.css" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <section class="ads">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-9524821705718873" data-ad-slot="3234654745" data-ad-format="auto"></ins>
      <script>(adsbygoogle=window.adsbygoogle||[]).push({});</script>
    </section>

    <article class="container post">
      <a href="/">Home</a>

{{ content }}
    </article>

    <section class="container">
      <a href="/" class="mobile-link">Home</a>

      <section class="social-buttons">
        <div class="fb-share-button" data-href="{{ page.url }}" data-layout="button_count"></div>
        <script type="IN/Share" data-url="{{ page.url }}" data-counter="right"></script>
        <a href="https://twitter.com/share" class="twitter-share-button" data-text="Nice blog post:" data-via="afronski">Tweet</a>
        <script id='fbsjhw5'>(function(i){var f,s=document.getElementById(i);f=document.createElement('iframe');f.src='//api.flattr.com/button/view/?uid=afronski&button=compact&url='+encodeURIComponent(document.URL);f.title='Flattr';f.height=20;f.width=110;f.style.borderWidth=0;s.parentNode.insertBefore(f,s);})('fbsjhw5');</script>
      </section>

      <div id="disqus_thread"></div>
    </section>

{% include menu.html %}
{% include google-analytics.html %}
    <noscript>
      Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
    </noscript>

    <script type="text/javascript">var disqus_shortname="afronskipl";(function(){var dsq=document.createElement("script");dsq.type="text/javascript";dsq.async=true;dsq.src="//"+disqus_shortname+".disqus.com/embed.js";(document.getElementsByTagName("head")[0]||document.getElementsByTagName("body")[0]).appendChild(dsq);})();</script>
    <script type="text/javascript">!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    <script src="//platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
    <script>window.fbAsyncInit=function(){FB.init({appId:'801123949972066',xfbml:true,version:'v2.2'});};(function(d,s,id){var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) {return;}js = d.createElement(s); js.id = id;js.src = "//connect.facebook.net/en_US/sdk.js";fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script>
  </body>
</html>
